.footer {
	background-color: $color-font-1;

	&__container {
		@include respond-768 {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__text {
		color: $color-white;
		font-size: .8rem;
		letter-spacing: 1px;
		text-align: center;
		text-transform: uppercase;
		padding: 1.5rem 0;

		@include respond-768 {
			text-align: left;
		}

		@include respond-480 {
			font-size: .6rem;
		}
	}

	&__social-media {
		display: none;

		@include respond-768 {
			display: block;
		}
	}

	&__link {
		color: $color-white !important;
		font-size: 1.2rem;
	}
}
